:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error-banner {
  padding: 16px;
  width: 100%;
  color: white;
  background-color: #f44336;
  border-radius: 4px;
  margin-bottom: 16px;
  text-align: left;
}

.button {
  display: flex;
  justify-content: flex-end;
}
